!!!
head
  title mail manager

  style.
    body { font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }
    h2, h3 { font-weight: normal; }

body
  h2 domains

  ul
    each domain in domains
      li
        span= domain.name
        |  
        a(href="/delete_domain?id=" + domain.id) (delete)

  h3 create
  form(action="/add_domain", method="post")
    input(type="text" name="domain" placeholder="domain")
    input(type="submit" value="add")

  h2 accounts

  ul
    each account in accounts
      li
        span= account.email
        |  
        a(href="/delete_account?id=" + account.id) (delete)

  h3 create
  form(action="/add_account", method="post")
    input(type="text" name="email" placeholder="email")
    input(type="password" name="password" placeholder="password")
    input(type="submit" value="add")

